In [ ]:
# Variables and their use

In [2]:
first_name = "Bharath"
last_name = "Roopireddy"

print(first_name + " " + last_name)

Bharath Roopireddy

In [8]:
# typecasting
age = 21
print("My age is "+str(age))

#if you want to know what is the type of the variable.
print("age data type is") 
print(type(age))

My age is 21
age data type is
<class 'int'>

In [10]:
# multiple assignments

#Regular Assignment
# name = "hello"
# age = 21
# attractive = True

name ,age ,attractive = "Hello", 21, True

print(name)
print(age)
print(attractive)

Hello
21
True

In [20]:

name = "test"
print(len(name))
print(name.find("s"))
print(name.capitalize())
print(name.upper())
print(name.lower())
print(name.replace("t","b"))
print(name*3)

4
2
Test
TEST
test
besb
 testtesttest

In [33]:
# Type casting
x = 1
y = 2.3
z = 'test'

print(x)
print(int(y))
print(z)
#print(z*3)

# t = int(z)
# print(t * 3)

1
2
test

In [43]:
# Slicing Strings

name = "Bharath Roopireddy"
print(name[0])

#first_name = name[0:7]
first_name = name [:7]
print(first_name)

last_name = name[8:]
print(last_name)


funky_name = name[0::2]
print(funky_name)

resverse_name = name [::-1]
print(resverse_name)


website = "http://google.com"

B
Bharath
Roopireddy
BaahRoied
ydderipooR htarahB